body {
	font-family: Muli, sans-serif;
	max-width: 55em;
	margin: auto;
	}
ol {
	margin-top:.5em;
	}
ul {
	margin-top:.5em;
	}
h1, h2, h3, h4 {
	font-weight: bold;
	margin: .5em;
	padding: 0;	
	line-height: 2em;
	}
h1 {
	font-family: "Source Sans Pro", serif;
	text-align: center;
	font-size: 2.7em;
	font-weight: 300;
	line-height: 1.5em;
	padding-bottom: 0em;
	}
h2 {
	font-size: 1.7em;
	font-family: Muli, sans-serif;
	color: black;
	text-transform: uppercase;
	font-weight: 100;
	padding-top: 1em;
	text-align: center;
	}
h3 {
	font-size: 1.7em;
	color: #346bff;
	font-family: "Source Sans Pro", serif;
	font-weight: bold;
	}
h3 li {
	text-transform: capitalize;
	}
h4 {
	font-size:1.2em;
	}
nav {
	font-family: "Source Sans Pro", sans-serif;
	font-variant: all-small-caps;
	line-height: 2em;
	margin: 0em 1em 0em 1em;
	font-weight: 400;
	}
nav ul {
    padding: 1em 0 1.5em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    }
nav ul li {
    list-style: none;
    flex-direction: row;
    font-size: 2em;
    }
 .name {
	font-size: 2.1em;
	font-weight: 300;
	}
.push{
	padding-top: .5em;
	}
a.current {
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: #d9d9d9;
	}
main {
	top: 10em;
	margin: auto;
	}
p {
	font-size: 1.6em;
	padding: 0 0 .5em 0;
	margin: .5em 1em .5em 1em;
	}
section { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	}
.project p {
	font-size: 1em;
	}
p.thanks {
	text-align: center;
	font-style: italic;
	padding-top: 3em;
	}
.social i {
	padding: .1em .1em 0 .1em;
}
.social p {
	display: inline-block;
	color: #346bff;
	font-weight: 700;
	font-size: 1.8em;
	padding-right: .3em;
}
.card {
	background-color: #346bff;
	margin: 1em 1em 0 1em;
	overflow: hidden;
	flex: 1 0 35%;
	padding: 0;
	overflow: hidden;
	position: relative;
	min-width: 15em;
	text-align: right;
	opacity: .8
	}
.card:hover {
	box-shadow: .1em .25em .5em 0 #d9d9d9, .25em .25em .5em 0 #d9d9d9;
    transition: box-shadow .1s;
    opacity: 1;
	}
.card img {
	max-width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	overflow: hidden;
	visibility: hidden;
	opacity: 1;
	}
.card:hover img {
	visibility: visible;
	opacity: 1;
		}
.card figcaption { 
	color: white;
	position: absolute;
	display: table-caption;
  	caption-side: top;
	top: 20%;
	width: 100%;
	text-align: center;
	padding: 0;
	opacity: 1;
	}
.card:hover figcaption {
	opacity: 0;
	}
.card:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    display: block;
    width: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), -1px 1px 1px rgba(0,0,0,0.2);
    border-width: 1.2em;
    border-color: #fff #fff transparent transparent;
	background: #2750bf;
	}
.card:hover:before {
	visibility: hidden;
	}
figcaption h1 {
	font-family: "Kalam", serif;
	font-size: 3.5em;
	font-weight: 400;
	}
figcaption p {
	padding: 0 1em 1em 1em;
	font-size: 2.2em;
	font-weight: 200;
	font-family: "Muli", serif;
	visibility: hidden;
}
.card:first-child h1 {
	transform: rotate(-5deg);
	}
.card:nth-child(2) h1 {
	transform: translate(0,.2em) rotate(1deg);
	}
.card:nth-child(3) h1 {
	transform: translate(0,.4em);
}
.card:nth-child(4) h1{
	transform: rotate(-3deg);
	}
.decorated{
     overflow: hidden;
     text-align: center;
	}
.decorated > span{
    position: relative;
    display: inline-block;
	}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 70%;
    border-bottom: .05em solid;
    width: 60em; /* half of limiter */
    margin: 0;
	}
.decorated > span:before{
    right: 100%;
	}
.decorated > span:after{
    left: 100%;
	}
.proto {
	position: relative;
	width: 100%;
	height: 100%;
	}
.proto iframe {
	width: 20.05em;
	height: 35em; 
	display: block;
	margin: 1em auto 1em auto;
	overflow: hidden;
	border: none;
	}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
	}
.center img {
	width: 45%;
	margin: .5em;
	}
.flex-img {
	margin: .5em;
	overflow: hidden;
	flex: 1 0 40%;
	border: .05em solid #9d9d9d;
	}
.flex-img img {
	max-width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	overflow: hidden;
	}
.right-img {
	margin: 0;
	flex: 1;
	flex-direction: row;
	}
.right-img img {
	max-width: 20em;
	padding: 0;
	margin: 0;
	display: flex;
	overflow: hidden;
	}
.pic {
	display: flex;
	width: 100%;
	justify-content: center;
   }
.pic img {
    height: 15em;
    border-radius: 20em;
    margin: 0;
    margin-bottom: 1em;
	}
.pic-right {
	display: flex;
	width: 100%;
	justify-content: center;
   }
.pic-right img {
    height: 15em;
    margin: 0;
	}
.small-card {
	margin: .5em;
	overflow: hidden;
	flex: 1 0 25%;
	padding: 0;
	overflow: hidden;
	position: relative;
	min-width: 8em;
	text-align: right;
	}
.small-card img {
	max-width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	overflow: hidden;
	}
.mySlides {
	width:100%; 
	border:.15em solid black; 
	border-radius: .2em;
}
.w3-content {
	margin: auto; 
	margin-top:.5em;
}
.i-card i {
	color: white;
	position: absolute;
	display: table-caption;
  	caption-side: top;
	top: 0;
	right: 0;
	padding: 1em;
	opacity: 1;
	}
.lightwidget-widget	{
	width:100%;
	border:0;
	overflow:hidden;
	margin: 1em;
	}
a {
	text-decoration: none;
    }
a:link {
	color: #346bff;
	}
a:visited {
	color: #346bff;
	}
a:hover {
	color: #2750bf;
    }
footer {
	margin: 5em 0 0 0;
	}
footer p {
	font-size: 1em;
	font-weight: 400;
	padding: 0 0 .5em 0;
	}
header, footer, aside, nav, main, article, figure {
    display: block; 
	}

@media (min-width: 40em) {
	.push {
		margin-left: auto;
		padding: 0 1em 0 0;
		}
	div.left {
		float: left;
		}
	div.right {
		float: right;
		}
	section{
		padding-top: 1em;
		}
	footer p:last-child {
		margin-bottom: 5em;
		}
	nav {
		margin: 3em 0em 3em 0em;
		}
	h1, h2, h3, h4, p {
		margin: 0;
		}
	h1 {
		font-size: 3.4em;
		padding-bottom: .5em;
		}
	h3 {
		font-size: 1.9em;
		}
	.pic {
		display: initial;	
		}
	.pic img {
		float: right;
    	height: 17em;
		margin: 1em 0em 1em 1em;
		}
	.pic-right {
		display: initial;	
		}
	.pic-right img {
		float: right;
    	height: 25em;
		margin: 1em 0em 1em 1em;
		}
	.center {
		width: 80%;
		}
	.card {
		margin: 0;
		max-width: 48.5%;
		margin-bottom: 1.5em;
		height: 25em;
		opacity: .8;
		}
	.card:first-child {
		transform: rotate(-1deg); 
		text-transform: none;
		}
	.card:nth-child(2) {
		transform: translate(.25em, -.2em) rotate(1deg);
		text-transform: none;
		}
	.card:nth-child(3) {
		transform: translate(-.2em)
		text-transform: none;
		}
	.card:nth-child(4) {
		transform: rotate(-1deg);
		text-transform: none;
		}
	.card figcaption {
		top: 15%;
		}
	figcaption p {
		visibility: visible;
		}
	.flex-img {
		margin: 1em;
		}
	.small-card {
		margin: 1em;
		}
	.mySlides {
		border:.25em solid black;
		}
	.columns {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1em;
		}
	.lightwidget-widget	{
		margin: 1em 0 1em 0;
		}
	.decorated > span:before, .decorated > span:after {
		margin: 0 .5em;
		}}
